body {
	background-color: rgb(37,126,164);
	background-size: cover;
	font-family: Helvetica Neue, sans-serif;
}

h3 {
	color: #FFFFFF;
	font-family: Helvetica Neue Light, Helvetica Neue, sans-serif;
	padding-bottom: 18px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.fa-4{
	font-size:7em;
	color: #FFFFFF;
}

.markWithColor {
	color: #F15D4E;
}
